div.actionsmenu {
  background-color: #fff;
  border-radius: 5px;
  padding: 9px;
  font-size: 11px;
  right: 9px;
  border: none;
  margin-left: 10px;
  width: 200px;

  h1 {
    border: none;
    margin-left: -9px;
    margin-right: -9px;
    padding-left: 9px;
    padding-right: 9px;
    color: #767676;
    font-weight: normal;
    width: 100%;
    font-size: 11px;
  }
  h1:first-of-type {
    margin-top: 0;
  }
  h1:not(:first-of-type) {
    border-top: 1px solid #C3C3C3;
    padding-top: 9px;
    margin-top: 0;
  }

  div.menuitem {
    margin-left: 0;
    margin-bottom: 8px;
    padding-left: 17px;
    position: relative;
    height: 14px;
    width: 100%;
    display: flex;
    &:last-of-type {
      margin-bottom: 0;
    }


    a {
      width: 78%;
      overflow-x: hidden;
      overflow-y: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    > i {
      position: absolute;
      left: 0;
    }

    &--danger {
        color: #610316;
        a {
            color: #610316;

            &:hover {
                color: #AB091E;
            }
        }
    }

    &--confirm {
      color: #014807;
      a {
          color: #014807;

          &:hover {
              color: #0E7817;
          }
      }
    }
  }
}
