button, input[type="submit"], input[type="button"], .button {
  font-family: 'Lato', sans-serif !important;
  padding: 7px 9px;
  border:none;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
  color: #1F2933;

  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background-color;
  transition-property: background-color;

  display: inline-block;

  &:hover {
    padding: 7px 9px;
    border:none;
    color: #1F2933;
  }
}

input[type="radio"] {
  margin-top: 9px;
}

button, input[type="button"], .button {
  background-color: $default-button-color;

  &:hover {
    background-color: darken($default-button-color, 10%);
  }
}

input[type="submit"] {
  color: #014D40;
  background-color: $primary-color;
  box-shadow: darken($primary-color-shadow, 5%) 0 4px 7px;

  &:hover {
    background-color: darken($primary-color, 5%);
  }
}

.btn-secondary {
  color: #0C008C;
  $secondary-btn-color: #C4C6FF;
  background-color: $secondary-btn-color !important;


  &:hover {
    background-color: darken($secondary-btn-color, 5%) !important;
  }
}

.btn-danger {
  color: #610316;
  background-color: $danger-color !important;
  box-shadow: $danger-color-shadow 0 4px 7px;

  &:hover {
    background-color: darken($danger-color, 5%) !important;
  }
}

.btn-link {
  background-color: initial !important;
  color: $link-color;

  &:hover {
    color: $link-color--hover;
    background-color: initial !important;
  }
}

table.formtable {
  th {
    line-height: 27px;
  }

  input[type="checkbox"] {
    margin-top: 10px;
    margin-bottom: 11px;
  }
}

input, textarea, select {
  border: 1px solid #C3C3C3;
  border-radius: 5px;
  padding: 7px 9px;
  margin-bottom: 5px;

  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border;
  transition-property: border;
}

select {
  padding: 6px 9px;
}

input:focus, textarea:focus, select:focus {
  border: 1px solid #000;
  background-color: initial;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 5px;
}

span.toggleableMultipleSelect {
    display: flex;
    align-items: center;
}

// SearchImage op zoekknop
button.searchImage, input[type="button"].searchImage, input[type="submit"].searchImage {
  background-image: none;
}