.global-search {
  margin-right: 9px;

  form {
    border-radius: 5px;
    background-color: #E0E8F9;
    display: inline-flex;
    flex-direction: row;
  }

  &__select-container {
    position: relative;
    width: 150px;

    select {
      width: 150px;
      border: none;
      text-overflow: ellipsis;
      border-radius: 5px 0 0 5px;
      padding: 7px 20px 7px 5px;
      margin-bottom: 0;
      background-color: #E0E8F9;
      color: #2D3A8C;

      option {
        padding: 0;
      }
    }

    &:after {
      content : "\f0d7";
      font-family: $font-awesome-version;
      font-weight: 900;
      position: absolute;
      right: 10px;
      top: 10px;
      color: #2D3A8C;
    }
  }

  &__input-container {
    position: relative;

    input {
      margin-top: 1px;
      border: none;
      padding-right: 0;
      border-radius: 0;
      margin-bottom: 0;
      background-color: #E0E8F9;
      color: #2D3A8C;

      &::placeholder {
        color: #647ACB;
      }
    }
  }

  &__submit-container {
    button {
      margin: 0;
      height: 30px;
      border-radius: 0 5px 5px 0;
      background-color: #E0E8F9;
      color: #2D3A8C;
    }
  }
}