#header {
  height: 45px;
  margin-left:10px;
  position: fixed;
  z-index:100;

  > div {
    display: inline-flex;
  }

  > h1 {
    padding-left: 40px !important;
    margin-bottom: 10px;
    color: #E0E8F9;
    margin-top: -6px;

    .application-header-subtitle {
      color: #98AEEB;
      border-left: 1px solid #98AEEB;
    }

    a {
      img {
        left: 22px !important;
        height: 30px !important;
        width: 30px !important;
        position: fixed !important;
      }
    }
  }

  > h2 {
    color: #BED0F7;
    padding-left: 40px !important;
    margin-top: -7px;
    font-size: 10px;
  }
}