#header {
  height: 40px;

  > div {
    display: inline-flex;
  }

  > h1 {
    padding-left: 40px !important;
    margin-bottom: 10px;
    color: #102A43;
    margin-top: -6px;

    .application-header-subtitle {
      color: #627D98;
      border-left: 1px solid #627D98;
    }

    a {
      img {
        left: 10px !important;
        height: 30px !important;
        width: 30px !important;
      }
    }
  }

  > h2 {
    color: #102A43;
    padding-left: 40px !important;
    margin-top: -7px;
  }
}