.ajax-loader {
  width: 0;
  height: 3px;
  position: fixed;
  top: 56px;
  left: 0;
  z-index: 100;

  &__bar {
    background-color: $primary-color;
    box-shadow: $primary-color-shadow 0 2px 3px;
    height: 100%;
  }
}
