.ajax-loader {
  width: 0;
  height: 3px;
  position: absolute;
  top: 40px;
  left: 0;

  &__bar {
    background-color: $primary-color;
    box-shadow: $primary-color-shadow 0 2px 3px;
    height: 100%;
  }
}