.opmerking,
.opmerking-alert,
.opmerking-prive,
.opmerking-warning,
.flash-alert {
  border: none;
  border-radius: $border-radius;
  padding: 9px;
  margin-right: 10px;
  margin-top: 0;
  p {
    margin-bottom: 0;
  }
}

.opmerking {
  background-color: #D9E2EC;
  color: #102A43;
}

.opmerking-prive {
  background-color: #E3F8FF;
  color: #035388;
}

.opmerking-alert,
.flash-alert {
  background-color: #FFE3E3;
  color: #610316;
}

.opmerking-warning {
  background-color: #FFFBEA;
  color: #8D2B0B;
}

.flash-alert {
    display: flex;
    margin-right: 0;
    margin-bottom: 5px;

    &__content {
        flex: 1;
    }

    &__closer {
        &:hover {
            cursor: pointer;
        }
    }
    animation-name: enter;
    animation-duration: 500ms;
}

.flash-alert.flash_warning {
  background-color: #ffe3e3;
  color: #610316;
}

.flash-alert.flash_bericht {
  background-color: #ffffe3;
  color: #615003;
}

.flash-alert.flash_confirmation {
  background-color: #e3ffe3;
  color: #306103;
}

.flash-alert.remove {
  animation-name: remove;
  animation-duration: 500ms;
}

#flash-message-container {
    /* position: absolute;
    top: 110px;
    z-index: 10;
    width: 91% */
    width: 99%;
}

/* z-index on header, so flash message slides out from underneath header */
.l-header {
  z-index: 11;
}

@keyframes enter {
  from {
      transform: translateY(-400%);
      opacity: 0;
  }

  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes remove {
  from {
      transform: translateY(0);
      opacity: 1;
  }

  to {
      transform: translateY(-400%);
      opacity: 0;
  }
}