h2.pageblock {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 9px;
  background-color: #fff;
  z-index: 0;
  color: #19216C;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;

  border: none;
  box-shadow: rgba(39,51,68,.1) 0 4px 7px;

  margin-right: 10px;
  margin-top: 0;

  a.actionicon,
  i.actionicon {
    margin-left: 5px;
  }

  .actionicon {
    margin-top: initial;
    padding-right: 0;

    a {
      margin-left: 5px;
    }
  }

  span {
    font-weight: initial;
    line-height: 17px;
  }
}

div.pageblock {
  border-color: #F2F2F2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 9px;
  position: relative;

  border-bottom: none;
  border-left: none;
  border-right: none;

  box-shadow: rgba(39,51,68,.1) 0 4px 7px;

  margin-bottom: 20px;
  margin-right: 10px;

}

div.pageblock.js--menuitem {
  a {
    font-size: 14px;
  }
}

table.objectdetails {
  th {
    color: #7B8794;
    vertical-align: top;
  }
}

.pageblock-title-icon {
  width: 30px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  margin-left: 5px;
}

// Added exception for certain edges cases
h2.pageblock--with-clearfix::after {
  content: "";
  clear: both;
  display: block;
}
h2.pageblock--with-clearfix div.actionicon {
  margin-top: 2px;
}