.ttBase-window {
    position: fixed !important;
    top: 100px !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
    width: 500px;
}

.ttBase-dialog-modal h2 {
    background: none !important;
    margin-bottom: 9px !important;
    color: #19216C;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    padding: 9px;
    border-bottom: solid 1px #F2F2F2;
}