.user-menu {
  position: relative;

  &--closed {
    .user-menu__links {
      display: none;
    }
  }

  &:after {
    content : "\f0d7";
    font-family: $font-awesome-version;
    font-weight: 900;
    position: absolute;
    left: 40px;
    top: 12px;
  }

  &__toggler {
    cursor: pointer;
    height: 30px;
    width: 30px;
    border: 1px solid #C3C3C3;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    overflow: hidden;
    margin-right: 10px;
  }

  &__links {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 7px;
    width: 160px;
    margin-top: 5px;
    font-size: 11px;
    position: absolute;
    right: 0;
    z-index: 99;
    box-shadow: rgba(29, 29, 31, 0.2) 0 4px 7px;

    ul {
      list-style-type: none;
      margin: 0;
    }
    li:not(:last-of-type) {
      margin-bottom: 5px;
    }

    li.user-menu__link {
      position: relative;
      a {
        display: block;
        margin-left: 15px;
        i {
          position: absolute;
          width: 15px;
          left: 0;
          top: 1px;
          text-align: center;
        }
      }
    }
  }

  &__nested-links {
    margin-top: 5px !important;

    &--closed {
      display: none;
    }
  }

  &__status {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    left: 24px;

    &--archived {
      background-color: orange;
    }
  }
}